
<ol>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ol>

<form action="/create_bookmark" method="POST">
  Enter URL for new bookmark:
  <input type="text" name="Create Bookmark">
  <input type="submit" value="Create Bookmark">
</form>